.jiesuan-1{height: 287px;overflow: auto;}
.jiesuan-1 ul li{line-height: 57px; height: 57px;margin-top: 40px; }
.jiesuan-1 ul li .sc_goodsTitle{margin-left:90px;line-height:27px;height: 27px; margin-top: 20px; font-size: 20px}
.jiesuan-1 ul li .sc_goodsNum{float: left; font-size: 12px;margin-top: 20px; margin-left: 60px}
.jiesuan-1 ul li .sc_goodsBtn{float: right; margin-right: 300px; margin-top: 20px}
.jiesuan-1 ul li img{}
